# Kubernetes

export KUBECONFIG="$(expand_path ./kubernetes/production/kubeconfig)"
export TALOSCONFIG="$(expand_path ./kubernetes/production/talosconfig)"

export SOPS_AGE_KEY=$(op.exe read "op://Homelab/sops/SOPS_AGE_KEY")
export GITHUB_USER=origox
export GITHUB_TOKEN=$(op.exe read "op://Homelab/github/GITHUB_TOKEN")

export ONEPASSWORD_PATH=$(op.exe read "op://Homelab/1password/PATH")
export PATH="$ONEPASSWORD_PATH:$PATH"
