# Kubernetes
export KUBECONFIG="$(expand_path ./kubernetes/production/kubeconfig)"
export TALOSCONFIG="$(expand_path ./kubernetes/production/talosconfig)"
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
export KUBERNETES_VERSION=v1.31.2
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
export TALOS_VERSION=v1.8.2